<html>
    <body style="font-family:verdana;">
        <h1>Aries Framework Javascript Hello World Verifier</h1>
        <p><br>You provided:<br>
        </p>
        <p>Given Name:
        {{ given_names|safe }}
        </p>
        <p>Family Name:
        {{ family_name|safe }}
        </p>
        <p>Region:
        {{ region|safe }}
        </p>
        <p><br>Return to homepage for new proof request:<br>
            <a href = "/" title="New proof request">New Proof Request</a>
        </p>            
        <p><br>For more information refer to:<br>
            <a href = "https://github.com/watkinspd/afj-hello-world-verifier" title="https://github.com/watkinspd/afj-hello-world-verifier">https://github.com/watkinspd/afj-hello-world-verifier</a>
        </p>
    </body>
</html>
