<html>
<head>
    <script>
        async function pollData() {
            let response = await fetch("/polldata")
            if (response.status === 200) {
                let vAttrs = await response.json()
                alert("You provided these verified attributes: " + vAttrs.given_names +' '+ vAttrs.family_name +', '+ vAttrs.region)
                console.log('Showed message')
            } else {
                await new Promise(resolve => setTimeout(resolve, 2000))
                pollData()
            }
        }
        pollData()
    </script>
</head>
    <body>
        {{ qr|safe }}
    </body>
</html>
