<html>
<head>
    <script>
        async function pollData() {
            let response = await fetch("/polldata")
            if (response.status === 200) {
                window.location.replace("/complete")
            } else {
                await new Promise(resolve => setTimeout(resolve, 2000))
                pollData()
            }
        }
        pollData()
    </script>
</head>
    <body style="font-family:verdana;">
        <h1>Aries Framework Javascript Hello World Verifier</h1>
        <p><br>Scan the QR code with your wallet. Wait a few seconds to see the response.<br>
        </p>
        {{ qr|safe }}
        <p>
        Direct link if running wallet on this device.<br>
        <a href = {{ directLink|safe }} title="Direct link to BC mobile wallet.">BC Wallet is on this device.</a>            
        </p>
        <p><br>For more information refer to:<br>
            <a href = "https://github.com/watkinspd/afj-hello-world-verifier" title="https://github.com/watkinspd/afj-hello-world-verifier">https://github.com/watkinspd/afj-hello-world-verifier</a>
        </p>
    </body>
</html>
